<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
<style>
body { font-family:Arial; background:#eef2f7; }
.card { width:600px; margin:80px auto; background:white; padding:30px;
        border-radius:10px; text-align:center; }
button { padding:10px 20px; margin:10px; background:#1e3c72;
         color:white; border:none; border-radius:6px; }
</style>
</head>
<body>
<div class="card">
<h2>Admin Dashboard</h2>
<a href="/upload"><button>Upload Dataset</button></a>
<a href="/preprocess"><button>Preprocess</button></a>
<a href="/train_models"><button>Train Models</button></a>
<a href="/manage_users"><button>Manage Users</button></a>
<a href="/admin_logout"><button>Logout</button></a>
</div>
</body>
</html>
